/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

/* Header styles */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #246aac;
  color: #fff;
}

.header-content h1 {
  font-size: 24px;
}

.dropdown {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  list-style-type: none;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Main content styles */
main {
  padding: 20px;
}

/* Section styles */
section {
  margin-bottom: 40px;
}

section h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

section p {
  font-size: 16px;
  line-height: 1.5;
}

/* Skillset styles */
#skills img {
  vertical-align: middle;
  margin-right: 5px;
}

.prof_img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
}

.img_container {
  display: flex;
  justify-content: center;
}

/* Dropdown Button */
.dropbtn {
  background-color: #246aac;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 40%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #2a80eb;
}
