*,
::after,
::before {
  box-sizing: border-box;
}

.container1 {
  display: fixed;
}

.ul1 {
  border-radius: 10px;
  padding: 20px;
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

.li1,
.li1_1 {
  background-color: aqua;
  padding: 10px;
  border-radius: 10px;
}

.li1_1 {
  flex: 1;
  margin-right: 10px;
}

.li2 {
  background-color: aquamarine;

  padding: 10px;
  border-radius: 10px;
}
.li3,
.li3_3 {
  background-color: rgba(0, 255, 157, 0.66);
  padding: 10px;
  border-radius: 10px;
}

.li3_3 {
  margin-left: 10px;
}

.ul2 {
  border-radius: 10px;
  padding: 20px;
  background-color: blueviolet;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: center;
}

.ul3 {
  border-radius: 10px;
  padding: 20px;
  background-color: blueviolet;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: center;
}

.ul4 {
  border-radius: 10px;
  padding: 20px;
  background-color: blueviolet;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: center;
}

.ul4 > .li1 {
  flex: 40%;
  margin-right: 10px;
}
.ul4 > .li2 {
  flex: 60%;
  margin-right: 10px;
}
