*,
::after,
::before {
  box-sizing: border-box;
}

.main_container {
  background-color: rgb(211, 79, 99);
  padding: 25px;
  border-radius: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  color: white;
}

.container_1 {
  border-radius: 5px;
  margin-top: 5px;
  background-color: rgb(244, 240, 142);
  display: flex;
  justify-content: space-between;
}

.nested_container {
  gap: 10px;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  align-items: start;
  flex: 50%;
}

h3 {
  padding: 10px;
  margin-top: 5px;
  margin-left: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.one {
  background-color: rgb(2, 62, 127);
  color: white;
  border-radius: 5px;
  width: 105%;
  flex: 50%;
}

.two {
  background-color: lightseagreen;
  color: white;
  border-radius: 5px;
  width: 105%;
  flex: 25%;
}

.three {
  background-color: lightseagreen;
  color: white;
  border-radius: 5px;
  width: 105%;
  flex: 25%;
}

.nested_container_2 {
  padding: 10px;
  display: flex;
  flex: 50%;
}

p {
  padding: 10px;
}

.four {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: aqua;
  border-radius: 5px;
  padding: 5px;
}

.footer {
  font-size: small;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px;
  background-color: midnightblue;
  color: white;
}
