*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* colors */
  --granite: #252629;
  --nemo: #ff4a11;
  --foam: #ffffff;

  /* sizes: 
     -border-radius-small = brs
     -letter-spacing-small = lss 
     -8px spacing = s8
     -16px spacing = s16
     -32px spacing = s32
     */
  --brs: 4px;
  --lss: 0.025em;
  --s8: 8px;
  --s16: 16px;
  --s32: 32px;
}

body {
  margin: 0;
  font-family: system-ui;
  line-height: 1.2;
}

header {
  background: var(--granite) 100%;
}

h1 {
  text-align: center;
  color: var(--foam);
  line-height: 1.4;
  margin: 0;
  letter-spacing: var(--lss);
  text-transform: uppercase;
  padding-block: var(--s16);
}

h2 {
  letter-spacing: var(--lss);
}

strong {
  color: var(--nemo);
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s32);
  padding: var(--s16);
  width: min(1000px, 100%);
  margin: 0 auto;
}

article {
  flex: 1 200px;
}

img {
  max-width: 100%;
  display: block;
}

figure {
  width: min(100%, 400px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 10px;
  background-color: var(--nemo);
  border-radius: var(--brs);
}

figcaption {
  color: var(--foam);
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s8) var(--s16);
}

a {
  display: inline-block;
  font-size: smaller;
  padding: var(--s8);
  border-radius: var(--brs);
  background-color: var(--nemo);
  color: var(--foam);
}

a:hover,
a:focus-visible {
  background-color: var(--granite);
  text-decoration: none;
}

mark {
  background-color: var(--nemo);
  color: var(--foam);
  border-radius: var(--brs);
  letter-spacing: var(--lss);
}

::selection {
  background-color: var(--granite);
  color: var(--nemo);
}
