.box-with-classname {
  width: 100px;
  height: 100px;
  background-color: green;
  margin: 2rem;
}

.box-with-classname:hover {
  background-color: #ff0000;
}

.box-with-classname--black {
  background-color: #000000;
}
